body{
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
}

header
{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    color: white;
    height: 8vh;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 10;
}

hr
{
    background-color: black;
    height: 0.2vh;
}

main{
    width: 60vw;
    margin: 0 auto;
    position: relative;
    top: 5vh;
}

.fecha
{
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 2.2em;
}

.subtit
{
    font-size: 1.2em;
    border-bottom: 5px solid white;
}

.nombre
{
    font-weight: bolder;
    font-style: italic;
}

.ministro
{
    background-color: white;
    color: red;
}

.cita
{
    border-bottom: dotted 1px red;
}

.lugar
{
    color: blue;
}